div.container {
  @media (min-width: 1200px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 750px;
  }
}

#header {
  margin-bottom: 30px;
  h1 {
    color: #10234c;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
}
